/* Reset & General */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

body {
  color: #777;
  background: #fffbf5;
  font-family: sans-serif; }

h1 {
  color: #3a3a3a;
  font-family: "Songti TC",STSongti-TC-Regular, serif;
  font-size: 24px;
  color: #000000;
  line-height: 33px;
  font-weight: normal; }

p.slogan {
  font-family: "Heiti TC";
  font-size: 13px;
  color: #8e8e8e;
  line-height: 20px; }

/* Layout */
.container {
  width: 768px;
  margin: 0 auto; }

.logo {
  margin-top: 53px; }

nav {
  position: absolute;
  top: 15px;
  right: 15px; }
  nav a {
    border-radius: 3px;
    line-height: 20px;
    background: #ff953b;
    padding: 5px 8px;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold; }
    nav a span {
      font-weight: normal;
      display: none; }
    nav a:hover span {
      display: inline; }

#hero {
  text-align: center; }
  #hero h1 {
    margin-top: 20px;
    margin-bottom: 36px; }
  #hero .slogan {
    width: 270px;
    margin: 0 auto; }
  #hero hr {
    width: 230px;
    height: 1px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    margin: 12px auto; }

#people {
  margin: 50px auto 67px auto;
  text-align: center;
  width: 400px; }
  #people dt {
    display: none; }
  #people dl {
    width: 24px;
    display: inline-block;
    padding: 0 5px 4px 5px; }
    #people dl img {
      border-radius: 100px;
      width: 100%; }

#products {
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 7px;
  width: 711px; }
  #products .intro {
    position: absolute;
    right: 15px;
    top: 0; }
  #products .item {
    height: auto;
    position: relative;
    transition: all 0.3s ease-in;
    width: 222px;
    margin-bottom: 30px;
    display: inline-block; }
    #products .item:hover {
      transition: all 0.3s ease-out;
      -webkit-transform: scale(1.05); }
      #products .item:hover img.avatar {
        transition: all 0.3s ease-out;
        opacity: 1;
        -webkit-transform: scale(1);
        border: 2px solid white; }
    #products .item.intro {
      box-sizing: border-box;
      padding: 15px 15px 5px 15px;
      border-radius: 5px;
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
      #products .item.intro .highlight {
        color: #E7584B;
        font-weight: bold; }
      #products .item.intro h3 {
        font-size: 12px;
        color: #1A1919;
        line-height: 19px;
        font-weight: bold; }
      #products .item.intro p {
        color: #a6a6a6;
        margin-bottom: 13px;
        white-space: normal;
        overflow: auto;
        text-overflow: auto; }
    #products .item img.avatar {
      box-shadow: 0 1px rgba(0, 0, 0, 0.2);
      border: 0px solid white;
      transition: all 0.2s ease-in;
      border-radius: 100px;
      position: absolute;
      z-index: 1;
      top: 174px;
      right: 10px;
      width: 34px;
      height: 34px;
      opacity: 0;
      -webkit-transform: scale(0.2); }
    #products .item img {
      border-radius: 5px;
      width: 100%; }
    #products .item p {
      margin-top: 5px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: HiraKakuProN-W3;
      font-size: 12px;
      color: #000000;
      line-height: 19px; }
      #products .item p span {
        font-size: 11px;
        color: #B3ABA5;
        line-height: 13px;
        display: block; }
