/* Reset & General */

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}

a, img, a img {
	outline: none;
}
img {border : 0;}


body {
	color: #777;
	background: darken(#FFFDFA, 1%);
	font-family: Helvetica, sans-serif;
}

h1 {
	color: #3a3a3a;
	font-family: "Songti TC", STSongti-TC-Regular, serif;
	font-size: 28px;
	color: #000000;
	line-height: 33px;
	font-weight: normal;
}

p {
	&.slogan {
		font-family: Helvetica, "Heiti TC";
		font-size: 13px;
		color: #8e8e8e;
		line-height: 20px;
	}
}

/* Layout */

.container {
	width: 768px;
	margin: 0 auto;
}

.logo {
	margin-top: 53px;
}

nav {
	position: absolute;
	top: 15px;
	right: 15px;
	a {
		border-radius: 3px;
		line-height: 20px;
		background: darken(#ffa65a, 6%);
		padding: 5px 8px;
		color: white;
		font-size: 9px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: bold;
		span {
			font-weight: normal;
			display: none;
		}
		&:hover {
			span {
				display: inline;
			}
		}
	}
}

#hero {
	text-align: center;
	h1 {
		margin-top: 20px;
		margin-bottom: 36px;
	}
	.slogan {
		width: 270px;
		margin: 0 auto;
	}
	hr {
		width: 230px;
		height: 1px;
		border: none;
		background: rgba(0,0,0,0.2);
		margin: 12px auto;
	}
}

#people {
	margin: 50px auto 67px auto;
	text-align: center;
	width: 400px;
	dt {
		display: none;
	}
	dl {
		width: 24px;
		display: inline-block;
		padding: 0 5px 4px 5px;
		img {
			border-radius: 100px;
			width: 100%;
			height: 100%;
		}
	}
}

$gutter-size: 10px;
$item-size: 222px;

#products {
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left:  0 - $gutter-size;
	width: ($gutter-size * 4) + ($item-size * 3) - 1px;
	.intro.full {
		.white-patch {
			display: none;
		}
		float: left;
		height: auto;
		width: ($item-size * 3) + (15px * 2);
		margin-bottom:  $gutter-size * 2;
		box-sizing: border-box;
		.fade-wrapper {
			height: auto;
			max-height: auto;
			h3 {
				font-size: 18px;
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}
	.intro {
		@extend .item;
		transition: none;
		overflow: visible;
		float: right;
		cursor: pointer;
		.fade-wrapper {
			a {
				color: #E7584B;
			}
			margin-bottom: 10px;
			background: white;
			border-radius: 5px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.2);
			box-sizing: border-box;
			height: 222px;
			overflow-y: scroll;
			padding: 15px 15px 5px 15px;
			.highlight {
				color: #E7584B;
				font-weight: bold;
			}
			h3 {
				font-size: 14px;
				color: #1A1919;
				line-height: 19px;
				font-weight: bold;
			}
			p {
				color: lighten(#272822,30%);
				margin-bottom: 13px;
			 	white-space: normal;
			 	overflow: auto;
			 	text-overflow: auto;
			}
		}
		margin-left: $gutter-size;
	}

	.item {
		position: relative;
		.white-patch {
			position: absolute;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.3), white);
			width: 100%;
			height: 20px;
			top: 203px;
			border-radius: 5px;
			left: 0;
			right: 0;
		}			
		position: relative;
		height: 263px;
		&:hover {
			img.avatar {
				transition: all 0.3s ease-out;
				opacity: 1;
				-webkit-transform: scale(1);
				border: 2px solid white;
			}
		}
		width: $item-size;
		margin-bottom: $gutter-size * 2;
		display: inline-block;
		margin-left: $gutter-size;
		img.avatar {
			box-shadow: 0 1px rgba(0,0,0,0.2);
			border: 0px solid white;
			transition: all 0.2s ease-in;
			border-radius: 100px;
			position: absolute;
			z-index: 1;
			top: $item-size - 10px - 38px;
			right: 10px;
			width: 34px;
			height: 34px;
			opacity: 0;
			-webkit-transform: scale(0.2);
		}
		.product-image  {
			img {
				width: 100%;

			}
			box-shadow: 0 1px 3px rgba(0,0,0,0.2);
			border-radius: 5px;
			height: 222px;
			width: 222px;
		       overflow: hidden;
		}
		p {
			margin-top: 5px;
			width: 100%;
		 	white-space: nowrap;
		 	overflow: hidden;
		 	text-overflow: ellipsis;
			font-family: HiraKakuProN-W3;
			font-size: 12px;
			color: #000000;
			line-height: 19px;
			span {
				font-size: 11px;
				color: #B3ABA5;
				line-height: 13px;
				display: block;
			}
		}
	}
}